<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Item</h1>

<f:flashMessages />

<table  class="tx_ajaxexample" >
	<tr>
		<th><f:translate key="tx_ajaxexample_domain_model_item.name" /></th>
		<th><f:translate key="tx_ajaxexample_domain_model_item.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{items}" as="item">
		<tr>
			<td><f:link.action action="show" arguments="{item : item}"> {item.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{item : item}"> {item.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{item : item}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{item : item}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Item</f:link.action>
</f:section>