<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<h1>New Item:</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Item}"/>


 <div id="enquiry_form">
     <form>
            <f:render partial="Item/FormFields" />
            <button type="button" id="tx_ajaxexample_btn" onclick="btnEnquiry()">Extract Tags from Description</button>
     </form>
 </div>


 <div id="enquiry_response" style="display:none;">
     <h1>Thank You</h1>
     <p>Email: <span id="resp_name"></span></p>
     <p>Description: <span id="resp_description"></span> </p>
     <p id="flash_message" class="flash-message"></p>
     <button type="button" id="tx_ajaxexample_more_btn" onclick="btnMoreEnquiry()">More</button>
 </div>


</f:section>

