<label for="name">
	<f:translate key="tx_ajaxexample_domain_model_item.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" id="ajaxexample_name" /><br />
<label for="description">
	<f:translate key="tx_ajaxexample_domain_model_item.description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="description" id="ajaxexample_description" cols="40" rows="15" /><br />