<table class="tx-ajaxexample" >
	<tr>
		<td>
			<f:translate key="tx_ajaxexample_domain_model_item.name" />
		</td>
		<td>
			{item.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxexample_domain_model_item.description" />
		</td>
		<td>
			{item.description}
		</td>
	</tr>
</table>